<app-header></app-header>
<div class="inner-banner">
  <div class="container">
    <div class="row  justify-content-center mt-md-6 pt-24 pt-lg-29">
      <div class="col-xl-8 col-lg-9">
        <div class="px-md-12 text-center mb-11 mb-lg-14">
          <h2 class="title gr-text-2 mb-9 mb-lg-12">Login</h2>
          <p class="gr-text-8 mb-0">Sign in to get started.</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="sign-in">
    <!-- Header Brand Area -->
    <!-- <header class="site-header bg-white">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-5 col-xl-4">
            <div class="brand text-center py-9">
              <a href="index.html">
                <img src="assets/image/logo-main-black.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </header> -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5 col-xl-4">
          <div class="main-block ">
            <div class="form-title text-center">
              <!-- <h2 class="title gr-text-2 mb-9">Login</h2>
              <p class="gr-text-8 mb-13">To get started, you need to sign in here.</p> -->
            </div>
            <div class="login-form bg-white border rounded-10 px-8 py-8 shadow-1 mb-11">
              <form class="comment-one__form contact-form-validated"
              [formGroup]="loginForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
              <div class="form-group mb-7 text-center" *ngIf="showVerified" >
                <label for="terms-check" class="gr-check-input mb-7 d-flex">
                  <p class="gr-text-11 text-success mb-0">You have successfully verified your email. Please login to continue.</p>
                </label>
              </div>

                <div class="form-group">
                  <label for="email" class="gr-text-11 font-weight-bold text-blackish-blue">Email</label>
                  <input formControlName="username" class="form-control" type="text" placeholder="i.e. john@mail.com">
                  <div *ngIf="submitted && f.username.errors" class="mb-2 text-danger">
                    <div *ngIf="f.username.errors.required">Username is required.</div>
                  </div>

                </div>
                <div class="form-group forget-block">
                  <div class="d-flex justify-content-between">
                    <label for="password" class="gr-text-11 font-weight-bold text-blackish-blue">Password</label>
                    <a class="forget-link text-info" href="resetpassword">Forgot Password?</a>
                  </div>
                  <input formControlName="password" id="password" class="form-control gr-text-11 border" type="password" placeholder="********">
                  <div *ngIf="submitted && f.password.errors" class="mb-2 text-danger">
                    <div *ngIf="f.password.errors.required">Password is required.</div>
                  </div>

                </div>
                <!-- <div class="form-check mb-7">
              <input class="form-check-input" type="checkbox" value="" id="formCheck1">
              <label class="gr-check-input gr-text-11 text-blackish-blue" for="formCheck1">
                Remember me
              </label>
            </div> -->
                <div class="form-group mb-7">
                  <label for="terms-check" class="gr-check-input mb-7 d-flex">
                    <input formControlName="remember_token" class="d-none " type="checkbox" id="terms-check">
                    <span class="checkbox mt-1 mr-2"></span>
                    <p class="gr-text-11 text-blackish-blue mb-0">Remember me</p>
                  </label>
                </div>
                <div class="form-group mb-7" *ngIf="signinFail">
                  <label for="terms-check" class="gr-check-input mb-7 d-flex">
                    <p class="gr-text-11 text-danger mb-0">{{errorMsg}}</p>
                    <p class="gr-text-11 mb-0" *ngIf="showVerifyLink">&nbsp;&nbsp;<a href="verifyemail" class="text-info "> <u>Verify Now</u></a></p>
                  </label>
                </div>
                <div class="form-group button-block mb-2 loading alc">
                  <div class="spinner-grow text-info" role="status" *ngIf="loading">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <button *ngIf="!loading" class="form-btn btn btn-info gr-hover-y w-100 ">Sign In</button>

                </div>
              </form>
            </div>
            <div class="form-bottom excerpt text-center">
              <p class="sign-up-text gr-text-9 gr-text-color">Don’t have an account? <a href="signup" class="text-info">Create an account</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
