<app-header></app-header>


<div class="inner-banner pt-29 pb-md-11 bg-default-2">
  <div class="container">
    <div class="row  justify-content-center pt-5">
      <div class="col-xl-8 col-lg-9">
        <div class="px-md-15 text-center">
          <h2 class="title gr-text-2 mb-9">Sign Up</h2>
          <p class="gr-text-8 mb-13">Registering is simple. Fill up the form and submit.</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class=" pb-5 pb-md-33 bg-default-2 ">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12">

        <div class="login-form bg-white border-gray-3 px-8 pt-8 pb-9 px-sm-11 py-sm-11 shadow-1 rounded-10 text-center">
          <p class="gr-text-8 mb-13">
            <a href="signin">Log in</a> to book if you already have an account or creat an account below if you are new.
          </p>


          <div class="row location-filter-form d-flex flex-wrap justify-content-center">
            <div class="col-md-4 col-sm-4 col-xs-4 mb-4">
              <a href="signuppractice">
                <button type="submit" class="btn btn-info search-btn">Sign Up as Practice</button>
              </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 mb-4">
              <a href="signupnurse">
                <button type="submit" class="btn btn-info search-btn">Sign Up as Dental Nurse Professional</button>
              </a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
