<div class="site-wrapper overflow-hidden">
  <!-- Header Area -->
  <header class="site-header site-header--menu-right site-header--absolute">
    <div class="container">
      <nav class="navbar site-navbar offcanvas-active navbar-expand-lg  px-0">
        <!-- Brand Logo-->
        <div class="brand-logo"><a href="/">
          <!-- light version logo (logo must be black)-->
          <img src="assets/image/logo.png" alt="" class="light-version-logo ">
          <!-- Dark version logo (logo must be White)-->
          <!-- <img src="assets/image/logo-main-white.png" alt="" class="dark-version-logo"> -->
        </a></div>
        <div class="collapse navbar-collapse" id="mobile-menu">
          <div class="navbar-nav-wrapper">
            <ul class="navbar-nav main-menu">
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown" href="#features" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Demos <i class="icon icon-small-down"></i></a>
                <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown">
                  <li class="drop-menu-item">
                    <a href="agency.html">
                      Agency
                    </a>
                  </li>
                  <li class="drop-menu-item">
                    <a href="job-directory.html">
                      Job Directory
                    </a>
                  </li>
                  <li class="drop-menu-item">
                    <a href="co-working.html">
                      Co-working
                    </a>
                  </li>
                  <li class="drop-menu-item">
                    <a href="saas-subscription.html">
                      SaaS Subscription
                    </a>
                  </li>
                  <li class="drop-menu-item">
                    <a href="ecommerce.html">
                      ECommerce
                    </a>
                  </li>
                  <li class="drop-menu-item">
                    <a href="web-application.html">
                      Web Application
                    </a>
                  </li>
                  <li class="drop-menu-item">
                    <a href="mobile-app.html">
                      Mobile App
                    </a>
                  </li>
                  <li class="drop-menu-item">
                    <a href="product.html">
                      Product Landing
                    </a>
                  </li>
                  <li class="drop-menu-item">
                    <a href="b2b.html">
                      B2B
                    </a>
                  </li>
                  <li class="drop-menu-item">
                    <a href="consultation.html">
                      Consultation
                    </a>
                  </li>
                  <li class="drop-menu-item">
                    <a href="video-conference.html">
                      Video Conference
                    </a>
                  </li>
                  <li class="drop-menu-item">
                    <a href="telemedicine.html">
                      Telemedicine
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown02" href="#features" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages <i class="icon icon-small-down"></i></a>
                <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown02">
                  <li class="drop-menu-item">
                    <a href="about.html">
                      About us
                    </a>
                  </li>
                  <li class="drop-menu-item dropdown">
                    <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown21" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Career
                      <i class="icon icon-small-down"></i>
                    </a>
                    <ul class="gr-menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown21">
                      <li class="drop-menu-item">
                        <a href="job-opening.html">
                          Job opening
                        </a>
                      </li>
                      <li class="drop-menu-item">
                        <a href="job-details.html">
                          Job Details
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="drop-menu-item dropdown">
                    <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown24" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Pricing
                      <i class="icon icon-small-down"></i>
                    </a>
                    <ul class="gr-menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown24">
                      <li class="drop-menu-item">
                        <a href="pricing-1.html">
                          Pricing 01
                        </a>
                      </li>
                      <li class="drop-menu-item">
                        <a href="pricing-2.html">
                          Pricing 02
                        </a>
                      </li>
                      <li class="drop-menu-item">
                        <a href="pricing-3.html">
                          Pricing 03
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="drop-menu-item dropdown">
                    <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown25" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Contact
                      <i class="icon icon-small-down"></i>
                    </a>
                    <ul class="gr-menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown25">
                      <li class="drop-menu-item">
                        <a href="contact.html">
                          Contact 01
                        </a>
                      </li>
                      <li class="drop-menu-item">
                        <a href="contact-2.html">
                          Contact 02
                        </a>
                      </li>
                      <li class="drop-menu-item">
                        <a href="contact-3.html">
                          Contact 03
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="drop-menu-item dropdown">
                    <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown26" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Account
                      <i class="icon icon-small-down"></i>
                    </a>
                    <ul class="gr-menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown26">
                      <li class="drop-menu-item">
                        <a href="sign-in.html">
                          Sign In
                        </a>
                      </li>
                      <li class="drop-menu-item">
                        <a href="sign-up.html">
                          Sign Up
                        </a>
                      </li>
                      <li class="drop-menu-item">
                        <a href="forget-pass.html">
                          Reset Password
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="drop-menu-item dropdown">
                    <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown27" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Utitlity
                      <i class="icon icon-small-down"></i>
                    </a>
                    <ul class="gr-menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown27">
                      <li class="drop-menu-item">
                        <a href="terms.html">
                          Terms & Conditions
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="drop-menu-item dropdown">
                    <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown28" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      E-commerce
                      <i class="icon icon-small-down"></i>
                    </a>
                    <ul class="gr-menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown28">
                      <li class="drop-menu-item">
                        <a href="product-details.html">Product Details</a>
                      </li>
                      <li class="drop-menu-item">
                        <a href="cart.html">Cart</a>
                      </li>
                      <li class="drop-menu-item">
                        <a href="checkout.html">Checkout</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown dropdown-mega">
                <a class="nav-link dropdown-toggle gr-toggle-arrow" id="navbarDropdown90" href="#features" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components <i class="icon icon-small-down"></i></a>
                <div class="gr-megamenu-dropdown center dropdown-menu d-lg-flex" aria-labelledby="navbarDropdown90">
                  <div class="col-lg-5 pl-0 d-none d-lg-flex align-items-center">
                    <a href="https://shade.uxtheme.net/shade-pro" class="d-block dropdown-image-block h-100 w-100 rounded-sm bg-image overflow-hidden mr-xl-12" style="background-image: url(assets/image/elements/menu-image.jpg)">
                    </a>
                  </div>
                  <ul class="col-lg-7 col-xl-6 row-lg list-unstyled py-lg-7">
                    <li class="col-lg-4">
                      <div class="single-dropdown-block">
                        <a href="components/elements-header.html" class="mega-drop-menu-item">Headers</a>
                        <a href="components/elements-heros.html" class="mega-drop-menu-item">Hero Area</a>
                        <a href="components/elements-content.html" class="mega-drop-menu-item">Contents</a>
                        <a href="components/elements-feature.html" class="mega-drop-menu-item">Features</a>
                        <a href="components/elements-pricing.html" class="mega-drop-menu-item">Pricing</a>
                        <a href="components/elements-counter.html" class="mega-drop-menu-item">Stats</a>
                      </div>
                    </li>
                    <li class="col-lg-4">
                      <div class="single-dropdown-block">
                        <a href="components/elements-cta.html" class="mega-drop-menu-item">CTA</a>
                        <a href="components/elements-testimonial.html" class="mega-drop-menu-item">Testimonial</a>
                        <a href="components/elements-team-area.html" class="mega-drop-menu-item">Team</a>
                        <a href="components/elements-newsletter.html" class="mega-drop-menu-item">Newsletter</a>
                        <a href="components/elements-brand-area.html" class="mega-drop-menu-item d-block">Clients</a>
                        <a href="components/elements-video.html" class="mega-drop-menu-item d-block">Video</a>
                      </div>
                    </li>
                    <li class="col-lg-4">
                      <div class="single-dropdown-block">
                        <a href="components/elements-blog-area.html" class="mega-drop-menu-item d-block">News</a>
                        <a href="components/elements-faq.html" class="mega-drop-menu-item d-block">FAQ</a>
                        <a href="components/elements-alert-area.html" class="mega-drop-menu-item d-block">Alert</a>
                        <a href="components/elements-footers.html" class="mega-drop-menu-item d-block">Footer</a>
                        <a href="components/elements-footers.html" class="mega-drop-menu-item d-block disabled pointer-none  text-storm" tabindex="-1">Forms </a>
                        <a href="components/elements-footers.html" class="mega-drop-menu-item d-block disabled pointer-none  text-storm" tabindex="-1">Tab</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/" role="button" aria-expanded="false">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about" role="button" aria-expanded="false">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="career" role="button" aria-expanded="false">Career</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact" role="button" aria-expanded="false">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="signin" role="button" aria-expanded="false">Log In</a>
              </li>
            </ul>
          </div>
          <button class="d-block d-lg-none offcanvas-btn-close" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="true" aria-label="Toggle navigation">
            <i class="gr-cross-icon"></i>
          </button>
        </div>
        <!-- Mobile Menu Hamburger-->
        <button class="navbar-toggler btn-close-off-canvas  hamburger-icon border-0" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
          <!-- <i class="icon icon-simple-remove icon-close"></i> -->
          <span class="hamburger hamburger--squeeze js-hamburger">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </span>
        </button>
        <!--/.Mobile Menu Hamburger Ends-->
      </nav>
    </div>
  </header>
  <!-- navbar- -->
