<div class="bg-default-2 pt-15 pt-lg-23 pb-13 pb-lg-27">
  <div class="container">
    <div class="section-title text-center mb-13 mb-lg-20">
      <h2 class="gr-text-3 mb-0">Current job openings</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="px-md-13 px-xl-15">
          <a href="#" class="d-flex justify-content-between bg-white rounded-10 px-8 pl-lg-13 pr-lg-11 py-9 py-lg-10 align-items-center mb-5 job-card-hover gr-hover-shadow-5">
            <div class="texts">
              <h3 class="gr-text-6 font-weight-bold text-blackish-blue mb-4">Account Manager </h3>
              <p class="gr-text-9 mb-0 gr-color-blackish-blue-opacity-7">Full Time, New York</p>
            </div>
            <div class="card-icon">
              <i class="fas fa-arrow-right gr-text-8 text-storm"></i>
            </div>
          </a>
          <a href="#" class="d-flex justify-content-between bg-white rounded-10 px-8 pl-lg-13 pr-lg-11 py-9 py-lg-10 align-items-center mb-5 job-card-hover gr-hover-shadow-5">
            <div class="texts">
              <h3 class="gr-text-6 font-weight-bold text-blackish-blue mb-4">Full Stack Developer</h3>
              <p class="gr-text-9 mb-0 gr-color-blackish-blue-opacity-7">Full Time, Remote</p>
            </div>
            <div class="card-icon">
              <i class="fas fa-arrow-right gr-text-8 text-storm"></i>
            </div>
          </a>
          <a href="#" class="d-flex justify-content-between bg-white rounded-10 px-8 pl-lg-13 pr-lg-11 py-9 py-lg-10 align-items-center mb-5 job-card-hover gr-hover-shadow-5">
            <div class="texts">
              <h3 class="gr-text-6 font-weight-bold text-blackish-blue mb-4">Senior Project Manager</h3>
              <p class="gr-text-9 mb-0 gr-color-blackish-blue-opacity-7">Full Time, New York</p>
            </div>
            <div class="card-icon">
              <i class="fas fa-arrow-right gr-text-8 text-storm"></i>
            </div>
          </a>
          <a href="#" class="d-flex justify-content-between bg-white rounded-10 px-8 pl-lg-13 pr-lg-11 py-9 py-lg-10 align-items-center mb-5 job-card-hover gr-hover-shadow-5">
            <div class="texts">
              <h3 class="gr-text-6 font-weight-bold text-blackish-blue mb-4">UX Designer</h3>
              <p class="gr-text-9 mb-0 gr-color-blackish-blue-opacity-7">Full Time, New York</p>
            </div>
            <div class="card-icon">
              <i class="fas fa-arrow-right gr-text-8 text-storm"></i>
            </div>
          </a>
          <a href="#" class="d-flex justify-content-between bg-white rounded-10 px-8 pl-lg-13 pr-lg-11 py-9 py-lg-10 align-items-center mb-5 job-card-hover gr-hover-shadow-5">
            <div class="texts">
              <h3 class="gr-text-6 font-weight-bold text-blackish-blue mb-4">Software Engineer</h3>
              <p class="gr-text-9 mb-0 gr-color-blackish-blue-opacity-7">Full Time, New York</p>
            </div>
            <div class="card-icon">
              <i class="fas fa-arrow-right gr-text-8 text-storm"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
