<app-header></app-header>


<div class="inner-banner">
  <div class="container">
    <div class="row  justify-content-center mt-md-6 pt-24 pt-lg-29">
      <div class="col-xl-8 col-lg-9">
        <div class="px-md-12 text-center mb-11 mb-lg-14">
          <h2 class="title gr-text-2 mb-9 mb-lg-12">Contact Us</h2>
          <p class="gr-text-8 mb-0">Don't be a stranger.</p>
        </div>
      </div>
      <div class="col-12">
        <div class="banner-fluid-image pt-lg-9">
          <img src="./assets/image/inner/about-banner.png" alt="" class="w-100">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="inner-banner pt-29 pb-md-11 bg-default-2">
  <div class="container">
    <div class="row  justify-content-center pt-5">
      <div class="col-xl-8 col-lg-9">
        <div class="px-md-15 text-center">
          <h2 class="title gr-text-2 mb-9">Contact us</h2>
          <p class="gr-text-8 mb-13">With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Contact section  -->
<div class=" pb-5 pb-md-15 bg-default-2 ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 mb-9 mt-9">
        <div class="row">
          <div class="col-md-5 col-lg-4  mb-13">
            <div class="single-contact-widget d-flex">
              <div class="widget-icon circle-sm-2 bg-white gr-text-6 text-primary mr-7">
                <i class="icon icon-phone-2"></i>
              </div>
              <div class="widget-text">
                <h3 class="gr-text-6 mb-5">Call us</h3>
                <!-- <p class="gr-text-7 mb-0"> -->
                +44 07444831232
                <!-- <br>+1-389-385-3807 -->
                <!-- </p> -->
              </div>
            </div>
          </div>
          <div class="col-md-5 col-lg-4 mb-13">
            <div class="single-contact-widget d-flex">
              <div class="widget-icon circle-sm-2 bg-white gr-text-6 text-primary mr-7">
                <i class="icon icon-email-83"></i>
              </div>
              <div class="widget-text">
                <h3 class="gr-text-6 mb-5">Email us</h3>
                <!-- <p class="gr-text-6 mb-0"> -->
                For Booking enquiries:<br />booking@toothpickdentalstaff.com<br /><br />
                For all other enquiries: <br />admin@toothpickdentalstaff.com
                <!-- </p> -->
              </div>
            </div>
          </div>
          <div class="col-md-5 col-lg-4 mb-13">
            <div class="single-contact-widget d-flex">
              <div class="widget-icon circle-sm-2 bg-white gr-text-6 text-primary mr-7">
                <i class="icon icon-pin-3-2"></i>
              </div>
              <div class="widget-text">
                <h3 class="gr-text-6 mb-5">Visit us</h3>
                <!-- <p class="gr-text-7 mb-0"> -->
                The Blade, 4th Floor
                <br />Suite 39, Abbey Square
                <br />Reading RG1 3BE
                <!-- </p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="login-form bg-white border-gray-3 px-8 pt-8 pb-9 px-sm-11 py-sm-11 shadow-1 rounded-10">
          <form *ngIf="!contactSuccess" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-7">
                  <label for="name" class="gr-text-11 font-weight-bold text-blackish-blue">Full Name</label>
                  <input class="form-control gr-text-11 border" type="text" id="name" formControlName="full_name" placeholder="i.e. John Doe">
                  <div *ngIf="submitted && c.full_name.errors" class=" mb-2 text-danger">
                    <div *ngIf="c.full_name.errors.required">Full name is required</div>
                  </div>

                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group mb-7">
                  <label for="email" class="gr-text-11 font-weight-bold text-blackish-blue">Email</label>
                  <input class="form-control gr-text-11 border" type="text" id="email" formControlName="email" placeholder="i.e. john@mail.com">
                  <div *ngIf="submitted && c.email.errors" class=" mb-2 text-danger">
                    <div *ngIf="c.email.errors.required">Email is required</div>
                    <div *ngIf="c.email.errors.pattern">Email must be valid</div>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-7">
                  <label for="phone" class="gr-text-11 font-weight-bold text-blackish-blue">Phone Number</label>
                  <input class="form-control gr-text-11 border" type="text" id="phone" formControlName="phone" placeholder="i.e. +1-234-567-7890">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-7">
                  <label for="subject" class="gr-text-11 font-weight-bold text-blackish-blue">Subject</label>
                  <input class="form-control gr-text-11 border" type="text" id="subject" formControlName="subject"
                    placeholder="i.e. I need a help">
                  <div *ngIf="submitted && c.subject.errors" class=" mb-2 text-danger">
                    <div *ngIf="c.subject.errors.required">Subject is required</div>
                  </div>

                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group mb-7">
                  <label for="message" class="gr-text-11 font-weight-bold text-blackish-blue">Message</label>
                  <textarea name="textblock" id="message" formControlName="contact_message"
                    class="form-control gr-text-11 border-gray-3 gr-textarea-height"></textarea>
                  <div *ngIf="submitted && c.contact_message.errors" class=" mb-2 text-danger">
                    <div *ngIf="c.contact_message.errors.required">Message is required</div>
                  </div>

                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group button-block mt-3 ">
                  <button class="form-btn btn btn-primary w-100">Send</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
