<div class="site-wrapper overflow-hidden">

  <app-header> </app-header>

  <!-- Hero Area -->
  <div
    class="co-working bg-overlay overlay-0 pb-13 pt-24 pt-lg-32 pb-lg-28 d-lg-flex align-items-center lg:min-h-vh-100"
    style="background-image:url(assets/image/coworking/jpg/waterbackground.png); ">
    <div class="container">
      <!-- <div class="hero-img position-relative" data-aos="fade-left" data-aos-duration="500" data-aos-once="true">
      <div class="gr-abs-tl gr-z-index-n1" data-aos="zoom-in" data-aos-delay="600" data-aos-duration="800" data-aos-once="true">
      <img src="assets/image/l5/png/l5-dot-shape.png" alt="">
    </div>
  </div> -->
      <!-- <div class="avatar1">
    <a href="https://codepen.io/MarioDesigns/">
      <img src="assets/image/png/output-onlinegiftools.gif" alt="Skytsunami" />
    </a>
  </div>
  <div class="avatar2">
    <a href="https://codepen.io/MarioDesigns/">
      <img src="assets/image/png/f2.png" alt="Skytsunami" />
    </a>
  </div>
  <div class="avatar3">
    <a href="https://codepen.io/MarioDesigns/">
      <img src="assets/image/png/f7.png" alt="Skytsunami" />
    </a>
  </div>
  <div class="avatar4">
    <a href="https://codepen.io/MarioDesigns/">
      <img src="assets/image/png/f5.png" alt="Skytsunami" />
    </a>
  </div> -->
      <br />
      <br />

      <div class="row align-items-center justify-content-center mid-content">
        <div class="col-lg-10 col-xl-9" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
          <div class="hero-content section-title light-mode-texts text-center">
            <div class="avatar10">
              <h4 class="pre-title text-tds gr-text-12 text-uppercase mb-10">HELPING YOU WILL ALL YOUR STAFFING
                REQUIREMENTS!</h4>

              <h1 class="gr-text-2 font-weight-bold mb-12">Toothpick Dental Staff</h1>
            </div>
            <!-- Search Component -->
            <br />
            <br />
            <br />
            <br />
            <div class="row location-filter-form d-flex flex-wrap justify-content-center">
              <div class="col-md-4 col-sm-4 col-xs-4 mb-4">
                <a href="tel:+44 07444831232">
                  <button type="submit" class="btn btn-info search-btn">Call Us</button>
                </a>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4 mb-4">
                <a href="signup">
                  <button type="submit" class="btn btn-info search-btn">Book</button>
                </a>
              </div>
            </div>


            <!-- <div class="location-filter-form d-flex flex-wrap bg-white">
        <div class="single-input w-100 w-sm-50 w-lg-35 px-5 py-3 py-md-7">
        <select name="location" id="location" class="nice-select h-px-50 text-blackish-blue h-md-100 arrow-2 location-select">
        <option value="" data-display="Select Location">Select Location</option>
        <option value="">United States of America</option>
        <option value="">United Arab Emirates</option>
        <option value="">Bangladesh</option>
        <option value="">Pakistan</option>
      </select>
    </div>
    <div class="single-input border-right-0 w-100 w-sm-50 w-lg-35 px-5  d-flex align-items-center py-3 py-md-7">
    <div class="h-px-50 position-relative date-picker w-100 arrow-box-dropdown">
    <input class="form-control date-picker-input
    border-0  rounded-0 h-100" id="datepicker" placeholder="Select Date">
  </div>
</div>
<div class="single-input  w-100 w-lg-30 d-flex align-items-center justify-content-center border-0 py-4 py-md-7">
<button type="submit" class="btn btn-primary search-btn">Search Place</button>
</div>
</div> -->
            <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
              class="video-link gr-text-color  mt-11 d-block">
              <!-- <span class="d-inline-flex mr-2 gr-text-color">
    <i class="far fa-play-circle gr-text-9"></i>
  </span> -->
              <!-- <span class="gr-text-9 mb-0">Take virtual tour of our spaces</span> -->
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- <a href="#second-section" class="circle-40 border border-black gr-abs-bx-center mx-auto mt-13 goto">
  <i class="fas fa-chevron-down text-black mx-auto gr-text-8"></i>
</a> -->
  </div>


  <!-- Fact Counter section -->
  <!-- <div class="fact-section bg-default-4 border-bottom pt-13 pt-lg-18 pb-7 pb-lg-17 " id="second-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-6 mb-9 mb-lg-0">
        <div class="single-fact text-center px-md-9 px-lg-6 px-xl-11">
          <h3 class="title mb-7 gr-text-3 counter">06</h3>
          <p class="gr-text-8 mb-0">Offices are available on different countries</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-9 mb-lg-0">
        <div class="single-fact text-center px-md-9 px-lg-6 px-xl-11">
          <h3 class="title mb-7 gr-text-3 counter">238</h3>
          <p class="gr-text-8 mb-0">Seats are available right now with dedicated support</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-9 mb-lg-0">
        <div class="single-fact text-center px-md-9 px-lg-6 px-xl-11">
          <h3 class="title mb-7 gr-text-3 counter">1,395</h3>
          <p class="gr-text-8 mb-0">People are using our co-work spaces right now</p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Content section -->
<div class="bg-greenish content-section border-bottom pt-11 pb-7 pt-lg-24 pb-lg-28 bg-default-6">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8 col-sm-10">
        <div class="section-title text-center mb-12 mb-lg-23">
          <h2 class="title gr-text-4 mb-6">We Care About Your Business</h2>
          <p class="gr-text-8 px-lg-7 px-xl-0">
            Here at Toothpick Dental Staff, we provide reliable, fully qualified,
            experienced and passionate locum dental nurses with excellent customer services to help your dental
            practice with all your staffing requirements.
          </p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="content-img-group text-center mb-8 mb-lg-0">
          <div class="main-image  w-xs-75 w-lg-85 w-xl-75 mx-auto position-relative gr-z-index-1">
            <img class="rounded-10 w-100" src="assets/image/inner/theblade1.jpg" alt="">
            <div class="underlay-shadow-img gr-abs-tl-custom-2 h-100" data-aos="fade-down-right" data-aos-duration="900" data-aos-once="true" data-aos-delay="400">
              <img class="rounded-10 h-100" src="assets/image/job-site/jpg/content-img-opacity.jpg" alt="">
            </div>
            <!-- <div class="notif-badge gr-abs-bl-custom-3" data-aos="fade-right" data-aos-duration="900" data-aos-once="true">
              <img class="rounded-10 w-100" src="./image/job-site/png/notification-badge.png" alt="">
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content-widget mt-7 mt-lg-0 pr-lg-13 pl-xl-19">
          <div class="row align-items-center">
            <p class="gr-text-8 px-lg-7 px-xl-0 pl-2">
            In additional to general nurses, we also provide the specialist nurses who are trained and qualified in the
            following:
            </p>
            <div class="col-md-6 col-lg-12" data-aos="fade-left" data-aos-duration="900" data-aos-once="true">
              <div class="single-widget my-9 media">
                <div class="media-icon circle-sm bg-blue mr-8">
                  <span class="count text-white gr-text-9">1</span>
                </div>
                <div class="media-body">
                  <h3 class="w-title mb-5 gr-text-7">Implantology, Periodontology, Oral surgery, Endodontics</h3>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-12" data-aos="fade-left" data-aos-duration="900" data-aos-once="true">
              <div class="single-widget my-9 media">
                <div class="media-icon circle-sm bg-blue mr-8">
                  <span class="count text-white gr-text-9">2</span>
                </div>
                <div class="media-body">
                  <h3 class="w-title mb-5 gr-text-7">Orthodontic (Fixed Brace/Invisalign) Composite Bonding</h3>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-12" data-aos="fade-left" data-aos-duration="900" data-aos-once="true">
              <div class="single-widget my-9 media">
                <div class="media-icon circle-sm bg-blue mr-8">
                  <span class="count text-white gr-text-9">3</span>
                </div>
                <div class="media-body">
                  <h3 class="w-title mb-5 gr-text-7">CEREC, PRGF, Sedation, Dental Radiography, Digital scanning (itero)
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-12" data-aos="fade-left" data-aos-duration="900" data-aos-once="true">
              <div class="single-widget my-9 media">
                <div class="media-icon circle-sm bg-blue mr-8">
                  <span class="count text-white gr-text-9">4</span>
                </div>
                <div class="media-body">
                  <h3 class="w-title mb-5 gr-text-7">Impression taking, Dental photography, Orthodontic/Implant TC</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Content section 1 -->
  <div class="content-section bg-gradient bg-gradient-3 pt-lg-25 pt-14 pb-10 pb-lg-15">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
          <div class="section-title mb-13 mb-lg-21">
            <h2 class="title gr-text-3 mb-7">Professional and Competent.</h2>
            <p class="gr-text-8">We provide regular training to our staff and make sure they are up to date with their
              CPD to improve patient care and maintain high professional standards. They are also well-trained to use
              computer technology including SOE Exact, R4, Dentally, Systems for Dentists, Orthotrac, Doit, iSmile, and
              Dental
              software programmes.
              <!-- <br class="d-none d-lg-block">a page easily without any coding.  -->
            </p>
          </div>
          <div class="image-left pr-xl-6" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
            <img src="assets/image/inner/training1.png" alt="" class="w-100 rounded-10">
          </div>
        </div>
        <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
          <div class="image-right mt-9 mt-lg-4 pl-xl-6">
            <img src="assets/image/inner/training2.jpeg" alt="" class="w-100 rounded-10">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- feature section -->
  <div class="feature-section bg-default-4 pt-8 pt-lg-15 pb-2 pb-lg-17">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mb-12">
          <div class="feature-widget d-sm-flex">
            <div class="widget-icon gr-text-4 text-blue mr-8 mb-7 mb-md-0">
              <img class="" src="./assets/image/svg/desk-drawer.svg" alt="feature" />
            </div>
            <div class="content">
              <h3 class="title gr-text-7 mb-6">Dedicated Desk</h3>
              <p class="gr-text-9 gr-text-color-opacity mb-0">With lots of unique blocks, you can easily build a page
                without coding. Build your next landing page.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-12">
          <div class="feature-widget d-sm-flex">
            <div class="widget-icon gr-text-4 text-blue mr-8 mb-7 mb-md-0">
              <img class="" src="./assets/image/svg/wifi.svg" alt="feature" />
            </div>
            <div class="content">
              <h3 class="title gr-text-7 mb-6">High Speed Internet</h3>
              <p class="gr-text-9 gr-text-color-opacity mb-0">With lots of unique blocks, you can easily build a page
                without coding. Build your next landing page.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-12">
          <div class="feature-widget d-sm-flex">
            <div class="widget-icon gr-text-4 text-blue mr-8 mb-7 mb-md-0">
              <img class="" src="./assets/image/svg/mug.svg" alt="feature" />
            </div>
            <div class="content">
              <h3 class="title gr-text-7 mb-6">Unlimited Coffee</h3>
              <p class="gr-text-9 gr-text-color-opacity mb-0">With lots of unique blocks, you can easily build a page
                without coding. Build your next landing page.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Testimonial section -->
  <div class="bg-tds dark-mode-texts testimonial-section pt-15 pt-lg-22 pb-15 pb-lg-25 ">
    <div class="container">
      <div class="row justify-content-center dark-mode-texts">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <div class="section-title text-center mb-11 mb-lg-15">
            <h2 class="title-sm gr-text-5 mb-0 text-white">
              What our clients have to say about their <span class="strike-bottom green">
                experience</span>
            </h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10 col-lg-8 mb-7" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
          <div
            class="testimonial-card d-flex flex-column flex-md-row align-items-md-center border rounded-12 bg-white pt-9 pb-8 px-9 gr-hover-opacity-full">
            <div class="card-image rounded-circle mr-9 mb-7 mb-md-0">
              <!-- <img class="circle-xxl w-100" src="assets/image/l6/jpg/l6-testimonial-img1.jpg" alt=""> -->

            </div>
            <div class="testimonial-content">
              <img class="rating mb-11" src="assets/image/l5/png/5-stars.png" alt="">

              <p class="review-text gr-text-7 text-blackish-blue mb-6">“Worked with Alisha today, would highly recommend
                her and the whole agency! Alisha was very professional, highly skilled and very helpful to me and the
                whole team. Previously also worked with Rekha who was amazingly helpful and great to work with. Thanks
                Toothpick Dental!”</p>
              <span class="name gr-text-9 text-blackish-blue gr-opacity-7 mb-0">Dr. Albert Gajdos</span>

            </div>
          </div>
        </div>
        <div class="col-10 col-lg-8 mb-7" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
          <div
            class="testimonial-card d-flex flex-column flex-md-row align-items-md-center border rounded-12 bg-white pt-9 pb-8 px-9 gr-hover-opacity-full">
            <div class="card-image rounded-circle mr-9 mb-7 mb-md-0">
              <!-- <img class="circle-xxl w-100" src="assets/image/l6/jpg/l6-testimonial-img1.jpg" alt=""> -->

            </div>
            <div class="testimonial-content">
              <img class="rating mb-11" src="assets/image/l5/png/5-stars.png" alt="">

              <p class="review-text gr-text-7 text-blackish-blue mb-6">“Very reliable and professional, upto date with
                all cross infection.
                Patients well looked after. Special thanks to Rekha Rai.”</p>
              <span class="name gr-text-9 text-blackish-blue gr-opacity-7 mb-0">Dr. Nahid Rahman</span>

            </div>
          </div>
        </div>
        <div class="col-10 col-lg-8 mb-7" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
          <div
            class="testimonial-card d-flex flex-column flex-md-row align-items-md-center border rounded-12 bg-white pt-9 pb-8 px-9 gr-hover-opacity-full">
            <div class="card-image rounded-circle mr-9 mb-7 mb-md-0">
              <!-- <img class="circle-xxl w-100" src="assets/image/l6/jpg/l6-testimonial-img1.jpg" alt=""> -->

            </div>
            <div class="testimonial-content">
              <img class="rating mb-11" src="assets/image/l5/png/5-stars.png" alt="">

              <p class="review-text gr-text-7 text-blackish-blue mb-6">“A dental assistant is a Dentist’s left hand- and
                we are always in fear of working with a Locum. Today I had Dolma from Toothpick. She was an angel,
                handling my complex treatments and tricky patients with a calm professional manner.”</p>
              <span class="name gr-text-9 text-blackish-blue gr-opacity-7 mb-0">Dr. Ronit Patel</span>

            </div>
          </div>
        </div>
        <div class="col-10 col-lg-8 mb-7" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
          <div
            class="testimonial-card d-flex flex-column flex-md-row align-items-md-center border rounded-12 bg-white pt-9 pb-8 px-9 gr-hover-opacity-full">
            <div class="card-image rounded-circle mr-9 mb-7 mb-md-0">
              <!-- <img class="circle-xxl w-100" src="assets/image/l6/jpg/l6-testimonial-img1.jpg" alt=""> -->

            </div>
            <div class="testimonial-content">
              <img class="rating mb-11" src="assets/image/l5/png/5-stars.png" alt="">

              <p class="review-text gr-text-7 text-blackish-blue mb-6">“Professional, friendly, efficient, organised and
                make your day more seamless and enjoyable from start to finish ❤️ I have had the pleasure of working
                with Rekha, Dolma and Manita - could not recommend more highly. Thank you!”</p>
              <span class="name gr-text-9 text-blackish-blue gr-opacity-7 mb-0">Dr. Radha</span>

            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-7 text-center pt-10">
          <div class="more-btn testimonial-btn">
            <a href="https://www.google.com/search?q=toothpickdentalstaff&oq=toothpickdentalstaff&aqs=chrome.0.69i59j46i13i175i199j0i390j69i60l5.5060j0j7&sourceid=chrome&ie=UTF-8#lrd=0x48769bfff72cb1af:0xdaae04b2387b5d9d,1,,,"
              target="_blank" class="btn-link with-icon text-green font-weight-bold">Read more reviews<i
                class="icon icon-tail-right font-weight-bold"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Newsletter Subscription section -->
  <div class="newsletter-section bg-default-4 py-13 py-lg-24 border-bottom " data-aos="zoom-in" data-aos-duration="1000"
    data-aos-once="true">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <div class="section-title text-center mb-12">
            <h2 class="title gr-text-3 mb-6">Get the Latest Updates</h2>
            <p class="px-4 gr-text-8 mb-0">Be the first to know the latest news, updates, and amazing offers from us. </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-md-7 col-10">
          <div class="subscribe-form mb-9">
            <form action="./">
              <div class="form-group">
                <input class="form-control gr-text-9 border mb-6" type="email" id="email"
                  placeholder="Enter your email">
              </div>
              <div class="button-block">
                <button class="form-btn btn btn-primary w-100">Subscribe</button>
              </div>
            </form>
          </div>
          <div class="form-bottom excerpt text-center">
            <p class="gr-text-11 gr-text-color-opacity mb-0">We’ll never share your details with third parties.<br
                class="d-none d-xs-block">
              View our Privacy Policy for more info.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer>
  </app-footer>
</div>
