.co-working{
  background-size: contain;
  /* background-color: #ECF0F1; */
}

/* .location-filter-form{
  width:100%;
  margin: 0px auto 0px;
} */


@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	25% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-15px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatex(-15px);
	}
	75% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatex(15px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

/* .container, .avatar {
  position: relative;
} */

.avatar1 {
  position:absolute;
  left:15%;
  top: 20%;
	width: 75px;
	max-height: 75px;
	/* box-sizing: border-box;
	border: 2px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px); */
	animation: float 8s cubic-bezier(0,0,1,1) infinite;
}
.avatar2 {
  position:absolute;
  right:15%;
  top: 20%;
	width: 75px;
	max-height: 75px;
	/* box-sizing: border-box;
	border: 2px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px); */
	animation: float 12s ease-out infinite;
}
.avatar3 {
  position:absolute;
  left:15%;
  bottom: 20%;
	width: 75px;
	max-height: 75px;
	/* box-sizing: border-box;
	border: 2px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px); */
	animation: float 10s ease-in-out infinite;
}
.avatar4 {
  position:absolute;
  right:15%;
  bottom: 20%;
	width: 75px;
	max-height: 75px;
	/* box-sizing: border-box;
	border: 2px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px); */
	animation: float 9s ease-in-out infinite;
}

.avatar1 img, .avatar2 img,.avatar3 img,.avatar4 img  { width: auto; max-height: 150px; }
.hero-img img { width: auto; max-height: 55px; }

/* .content {
	width: 100%;
	max-width: 600px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
}

.suppoprt-me {
	display: inline-block;
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 20vw;
	max-width: 250px;
	min-width: 200px;
	z-index: 9;
	img {
		width: 100%;
		height: auto;
	}
} */
