<app-header>     </app-header>

  <!-- Hero Area -->
  <div class="co-working bg-image bg-overlay overlay-0 pb-13 pt-24 pt-lg-32 pb-lg-28 d-lg-flex align-items-center lg:min-h-vh-100" style="background-image:url(assets/image/coworking/jpg/waterbackground.png); ">
    <div class="container">
        <!-- <div class="hero-img position-relative" data-aos="fade-left" data-aos-duration="500" data-aos-once="true">
          <div class="gr-abs-tl gr-z-index-n1" data-aos="zoom-in" data-aos-delay="600" data-aos-duration="800" data-aos-once="true">
            <img src="assets/image/l5/png/l5-dot-shape.png" alt="">
          </div>
        </div> -->
      <div class="avatar1">
        <a href="https://codepen.io/MarioDesigns/">
          <img src="assets/image/png/cute-tooth.png" alt="Skytsunami" />
        </a>
      </div>
      <div class="avatar2">
        <a href="https://codepen.io/MarioDesigns/">
          <img src="assets/image/png/f1.png" alt="Skytsunami" />
        </a>
      </div>
      <div class="avatar3">
        <a href="https://codepen.io/MarioDesigns/">
          <img src="assets/image/png/f2.png" alt="Skytsunami" />
        </a>
      </div>
      <div class="avatar4">
        <a href="https://codepen.io/MarioDesigns/">
          <img src="assets/image/png/f4.png" alt="Skytsunami" />
        </a>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10 col-xl-9" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
          <div class="hero-content section-title light-mode-texts text-center">
            <h4 class="pre-title text-green gr-text-12 text-uppercase mb-10">making your life easy</h4>
            <h1 class="gr-text-2 font-weight-bold mb-12">Toothpick Dental Staff</h1>
              <!-- Search Component -->

              <div class="row location-filter-form d-flex flex-wrap justify-content-center">
                <div class="col-md-4 col-sm-4 col-xs-4 mb-4">
                  <a href="signup">
                  <button type="submit" class="btn btn-primary search-btn">Sign Up</button>
                  </a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 mb-4">
                  <button type="submit" class="btn btn-primary search-btn">Book</button>
                </div>
              </div>


              <!-- <div class="location-filter-form d-flex flex-wrap bg-white">
                <div class="single-input w-100 w-sm-50 w-lg-35 px-5 py-3 py-md-7">
                  <select name="location" id="location" class="nice-select h-px-50 text-blackish-blue h-md-100 arrow-2 location-select">
                    <option value="" data-display="Select Location">Select Location</option>
                    <option value="">United States of America</option>
                    <option value="">United Arab Emirates</option>
                    <option value="">Bangladesh</option>
                    <option value="">Pakistan</option>
                  </select>
                </div>
                <div class="single-input border-right-0 w-100 w-sm-50 w-lg-35 px-5  d-flex align-items-center py-3 py-md-7">
                  <div class="h-px-50 position-relative date-picker w-100 arrow-box-dropdown">
                    <input class="form-control date-picker-input
                border-0  rounded-0 h-100" id="datepicker" placeholder="Select Date">
                  </div>
                </div>
                <div class="single-input  w-100 w-lg-30 d-flex align-items-center justify-content-center border-0 py-4 py-md-7">
                  <button type="submit" class="btn btn-primary search-btn">Search Place</button>
                </div>
              </div> -->
              <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="video-link gr-text-color  mt-11 d-block">
                <span class="d-inline-flex mr-2 gr-text-color">
                  <i class="far fa-play-circle gr-text-9"></i>
                </span>
                <span class="gr-text-9 mb-0">Take virtual tour of our spaces</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <a href="#second-section" class="circle-40 border border-black gr-abs-bx-center mx-auto mt-13 goto">
        <i class="fas fa-chevron-down text-black mx-auto gr-text-8"></i>
      </a>
    </div>
    <!-- Fact Counter section -->
    <div class="fact-section bg-default-4 border-bottom pt-13 pt-lg-18 pb-7 pb-lg-17 " id="second-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 col-sm-6 mb-9 mb-lg-0">
            <div class="single-fact text-center px-md-9 px-lg-6 px-xl-11">
              <h3 class="title mb-7 gr-text-3 counter">06</h3>
              <p class="gr-text-8 mb-0">Offices are available on different countries</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mb-9 mb-lg-0">
            <div class="single-fact text-center px-md-9 px-lg-6 px-xl-11">
              <h3 class="title mb-7 gr-text-3 counter">238</h3>
              <p class="gr-text-8 mb-0">Seats are available right now with dedicated support</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 mb-9 mb-lg-0">
            <div class="single-fact text-center px-md-9 px-lg-6 px-xl-11">
              <h3 class="title mb-7 gr-text-3 counter">1,395</h3>
              <p class="gr-text-8 mb-0">People are using our co-work spaces right now</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Locations section  -->
    <div class="location-section bg-default-4 pt-14 pb-7 py-lg-23">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-7 col-md-9">
            <div class="section-title text-center mb-11 mb-lg-19">
              <h2 class="title gr-text-3 mb-7">Popular locations</h2>
              <p class="gr-text-8 px-lg-8 mb-0">With lots of unique blocks, you can easily build a page easily without any coding. </p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <div class="location-card mb-9 gr-hover-scale-img">
              <a href="#" class="card-img">
                <img src="./assets/image/coworking/jpg/location-card1.jpg" alt="" class="w-100 rounded-10">
              </a>
              <div class="card-content px-5 pt-9 text-center">
                <a href="#">
                  <h3 class="title gr-text-6 mb-2">Beauview</h3>
                </a>
                <p class="gr-text-11 mb-0 d-inline-block gr-text-color-opacity">37 seats</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
            <div class="location-card mb-9 gr-hover-scale-img">
              <a href="#" class="card-img">
                <img src="./assets/image/coworking/jpg/location-card2.jpg" alt="" class="w-100 rounded-10">
              </a>
              <div class="card-content px-5 pt-9 text-center">
                <a href="#">
                  <h3 class="title gr-text-6 mb-2">Haleyborough</h3>
                </a>
                <p class="gr-text-11 mb-0 d-inline-block gr-text-color-opacity">12 seats</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
            <div class="location-card mb-9 gr-hover-scale-img">
              <a href="#" class="card-img">
                <img src="./assets/image/coworking/jpg/location-card3.jpg" alt="" class="w-100 rounded-10">
              </a>
              <div class="card-content px-5 pt-9 text-center">
                <a href="#">
                  <h3 class="title gr-text-6 mb-2">Jeromyshire</h3>
                </a>
                <p class="gr-text-11 mb-0 d-inline-block gr-text-color-opacity">28 seats</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content section 1 -->
    <div class="content-section bg-gradient bg-gradient-3 pt-lg-25 pt-14 pb-10 pb-lg-15">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="section-title mb-13 mb-lg-21">
              <h2 class="title gr-text-3 mb-7">Work around very talented people.</h2>
              <p class="gr-text-8">With lots of unique blocks, you can easily build <br class="d-none d-lg-block">a page easily without any coding. </p>
            </div>
            <div class="image-left pr-xl-6" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
              <img src="./assets/image/coworking/jpg/content1-img1.jpg" alt="" class="w-100 rounded-10">
            </div>
          </div>
          <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
            <div class="image-right mt-9 mt-lg-4 pl-xl-6">
              <img src="./assets/image/coworking/jpg/content1-img2.jpg" alt="" class="w-100 rounded-10">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- feature section -->
    <div class="feature-section bg-default-4 pt-8 pt-lg-15 pb-2 pb-lg-17">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 mb-12">
            <div class="feature-widget d-sm-flex">
              <div class="widget-icon gr-text-4 text-blue mr-8 mb-7 mb-md-0">
                <img class="" src="./assets/image/svg/desk-drawer.svg" alt="feature" />
              </div>
              <div class="content">
                <h3 class="title gr-text-7 mb-6">Dedicated Desk</h3>
                <p class="gr-text-9 gr-text-color-opacity mb-0">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-12">
            <div class="feature-widget d-sm-flex">
              <div class="widget-icon gr-text-4 text-blue mr-8 mb-7 mb-md-0">
                <img class="" src="./assets/image/svg/wifi.svg" alt="feature" />
              </div>
              <div class="content">
                <h3 class="title gr-text-7 mb-6">High Speed Internet</h3>
                <p class="gr-text-9 gr-text-color-opacity mb-0">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-12">
            <div class="feature-widget d-sm-flex">
              <div class="widget-icon gr-text-4 text-blue mr-8 mb-7 mb-md-0">
                <img class="" src="./assets/image/svg/mug.svg" alt="feature" />
              </div>
              <div class="content">
                <h3 class="title gr-text-7 mb-6">Unlimited Coffee</h3>
                <p class="gr-text-9 gr-text-color-opacity mb-0">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content section 2 with FAQ accordion -->
    <div class="content-section pt-13 pt-lg-28 pb-15 pb-lg-29 bg-blackish-blue dark-mode-texts">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-10 col-lg-6 col-xl-5">
            <div class="section-title content-text mb-13 mb-lg-16">
              <h2 class="title gr-text-3 mb-6">We are always here for your backup.</h2>
              <p class="gr-text-8">We share common trends and strategies for improving your rental income.</p>
            </div>
            <div class="content-widget">
              <div class="row">
                <div class="col-md-6 col-lg-9 col-xl-10" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
                  <div class="single-widget media mb-9 mb-lg-12">
                    <div class="widget-icon circle-30 bg-green mr-7">
                      <i class="icon icon-check-2-2 text-white"></i>
                    </div>
                    <div class="widget-text">
                      <h3 class="w-title gr-text-7">Noise Free Locations</h3>
                      <p class="gr-text-9 mb-0">With lots of unique blocks, you can easily build a page without coding. </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-9 col-xl-10" data-aos="fade-right" data-aos-duration="1100" data-aos-once="true">
                  <div class="single-widget media mb-9 mb-lg-0">
                    <div class="widget-icon circle-30 bg-green mr-7">
                      <i class="icon icon-check-2-2 text-white"></i>
                    </div>
                    <div class="widget-text">
                      <h3 class="w-title gr-text-7">24/7 Hour Support</h3>
                      <p class="gr-text-9 mb-0">With lots of unique blocks, you can easily build a page without coding. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- FAQ Accordion -->
          <div class="col-md-10 col-lg-6 col-xl-6 offset-xl-1 mt-9 mt-lg-0" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true">
            <!-- FAQ Accordion -->
            <div class="accordion pl-9 pr-8 rounded-10 bg-white border-green border-top-5" id="accordionExample">
              <div class="border-bottom overflow-hidden">
                <div class="mb-0 border-bottom-0" id="heading2-1">
                  <button class="btn-reset gr-text-7 font-weight-bold text-left text-blackish-blue px-0 py-8 accordion-trigger arrow-icon w-100" type="button" data-toggle="collapse" data-target="#collapse2-1" aria-expanded="true" aria-controls="collapse2-1">
                    How to setup Shade Pro?
                  </button>
                </div>
                <div id="collapse2-1" class="collapse show" aria-labelledby="heading2-1" data-parent="#accordionExample">
                  <div class="gr-color-blackish-blue-opacity-7 mt-n3 gr-text-9 pb-8 pr-8">
                    With lots of unique blocks, you can easily build a page with coding. Build your next landing page. Integer ut obe ryn. Sed feugiat vitae turpis a porta.
                  </div>
                </div>
              </div>
              <div class="border-bottom overflow-hidden">
                <div class="mb-0 border-bottom-0" id="heading2-2">
                  <button class="btn-reset gr-text-7 font-weight-bold text-left text-blackish-blue px-0 py-8 accordion-trigger arrow-icon w-100" type="button" data-toggle="collapse" data-target="#collapse2-2" aria-expanded="false" aria-controls="collapse2-2">
                    Can I use Shade Pro for my clients?
                  </button>
                </div>
                <div id="collapse2-2" class="collapse " aria-labelledby="heading2-2" data-parent="#accordionExample">
                  <div class="gr-color-blackish-blue-opacity-7 mt-n3 gr-text-9 pb-8 pr-8">
                    With lots of unique blocks, you can easily build a page without coding. Build your next landing page.
                  </div>
                </div>
              </div>
              <div class="border-bottom overflow-hidden">
                <div class="mb-0 border-bottom-0" id="heading2-3">
                  <button class="btn-reset gr-text-7 font-weight-bold text-left text-blackish-blue px-0 py-8 accordion-trigger arrow-icon w-100" type="button" data-toggle="collapse" data-target="#collapse2-3" aria-expanded="false" aria-controls="collapse2-3">
                    How often do you release update?
                  </button>
                </div>
                <div id="collapse2-3" class="collapse " aria-labelledby="heading2-3" data-parent="#accordionExample">
                  <div class="gr-color-blackish-blue-opacity-7 mt-n3 gr-text-9 pb-8 pr-8">
                    With lots of unique blocks, you can easily build a page without coding. Build your next landing page.
                  </div>
                </div>
              </div>
              <div class="border-bottom overflow-hidden">
                <div class="mb-0 border-bottom-0" id="heading2-4">
                  <button class="btn-reset gr-text-7 font-weight-bold text-left text-blackish-blue px-0 py-8 accordion-trigger arrow-icon w-100" type="button" data-toggle="collapse" data-target="#collapse2-4" aria-expanded="false" aria-controls="collapse2-4">
                    How can I access to old version?
                  </button>
                </div>
                <div id="collapse2-4" class="collapse " aria-labelledby="heading2-4" data-parent="#accordionExample">
                  <div class="gr-color-blackish-blue-opacity-7 mt-n3 gr-text-9 pb-8 pr-8">
                    With lots of unique blocks, you can easily build a page without coding. Build your next landing page.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Newsletter Subscription section -->
    <div class="newsletter-section bg-default-4 py-13 py-lg-24 border-bottom " data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <div class="section-title text-center mb-12">
              <h2 class="title gr-text-3 mb-6">Get latest updates</h2>
              <p class="px-4 gr-text-8 mb-0">With lots of unique blocks, you can easily build a page without coding. Build your next landing page. </p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-4 col-lg-6 col-md-7 col-10">
            <div class="subscribe-form mb-9">
              <form action="./">
                <div class="form-group">
                  <input class="form-control gr-text-9 border mb-6" type="email" id="email" placeholder="Enter your email">
                </div>
                <div class="button-block">
                  <button class="form-btn btn btn-primary w-100">Subscribe</button>
                </div>
              </form>
            </div>
            <div class="form-bottom excerpt text-center">
              <p class="gr-text-11 gr-text-color-opacity mb-0">We’ll never share your details with third parties.<br class="d-none d-xs-block">
                View our Privacy Policy for more info.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-footer>
        </app-footer>
